<h3>Editar Tarefa</h3>

<form [formGroup]="form" class="form">

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Título</mat-label>
    <input matInput formControlName="titulo" />
  </mat-form-field>

  <!-- CKEditor -->
  <label class="mb-1">Descrição</label>
  <div #editor class="editor-container"></div>

  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let s of statusOptions" [value]="s.value">
        {{ s.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Colaborador</mat-label>
    <mat-select formControlName="colaboradorId">
      <mat-option *ngFor="let c of colaboradoresOptions" [value]="c.value">
        {{ c.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="actions mt-4">
    <button mat-stroked-button color="primary" (click)="cancelar()" type="button">
      Cancelar
    </button>

    <button mat-flat-button color="primary" (click)="salvar()" type="button">
      Salvar Alterações
    </button>
  </div>
</form>
