<form [formGroup]="signupForm">

        <div class="error" *ngIf="signupForm.controls['titulo'].touched && signupForm.controls['titulo'].invalid">
            <span *ngIf="signupForm.controls['titulo'].errors?.['required']">Título é obrigatório.</span>
            <span *ngIf="signupForm.controls['titulo'].errors?.['minlength']">Use pelo menos 3 caracteres.</span>
        </div>
        <app-primary-input
            formControlName="titulo"
            inputName="titulo"
            type="text"
            label="Título"
        >   
        </app-primary-input>
        
        <!-- descrição -->
         <div class="error" *ngIf="signupForm.controls['descricao'].touched && signupForm.controls['descricao'].invalid"></div>
        <app-primary-input
            formControlName="descricao"
            inputName="descricao"
            type="text"
            label="Email"
        >
        </app-primary-input>

        <!-- status -->
        <div class="error" *ngIf="signupForm.controls['status'].touched && signupForm.controls['status'].invalid">
        <span>Selecione o Status da tarefa.</span>
        </div>
         <app-primary-select
            formControlName="status"
            label="Status"
            [options]="statusOptions"
        ></app-primary-select>


        <!-- colaborador -->
        <div class="error" *ngIf="signupForm.controls['colaboradorId'].touched && signupForm.controls['colaboradorId'].invalid">
        <span>Selecione um responsável.</span>
        </div>
         <app-primary-select
            formControlName="colaboradorId"
            label="Responsável"
            [options]="colaboradoresOptions"
        ></app-primary-select>
        <!-- role -->


        <!-- <p>CKEditor</p>
        <ckeditor [editor]="Editor" data="<p>hello</p>"> </ckeditor> -->
        
    </form>
